.gitignoretemp
Code - OSS/
Code/
Kvantum/
Xv-H.zip
autostart/
brave-flags.conf
calcurse/
cat_installer/
chrome-beta-flags.conf
chrome-dev-flags.conf
chrome-flags.conf
chromium-flags.conf
coc/
code-flags.conf
dconf/
discord/
electron-flags.conf
electron12-flags.conf
electron18-flags.conf
electron20-flags.conf
falkon/
flashfocus/
fontconfig/
foot/
gh/
gtk-4.0/
helix/
kanshi/
libfm/
microsoft-edge-beta-flags.conf
microsoft-edge-dev-flags.conf
microsoft-edge-stable-flags.conf
neofetch/
nvim/spell/
nvim/undo_dir/
nwg-wrapper/
pavucontrol.ini
pcmanfm/
profile.d/
pulse/
python/
qt5ct/
qt6ct/
ranger/
rofi/
swappy/
sway/backgrounds/thejonkler.mp4
sway/whysoserious.py
swaylock/
sworkstyle/
systemd/
user-dirs.dirs
vivaldi-stable.conf
waybar/
weather.cfg.example
wob.ini
youtube-music-flags.conf
zsh/.zcompdump
